$primaryColor:#F56960;
$fontSizeSmall: 14px;
$fontSizeMedium: 16px;
$fontSizeLarge: 60px;
$primaryfont: 'Roboto Slab', serif;
$secondaryfont: 'Bree Serif', serif;
$secondaryColor:#101F46;
$blue:rgba(7, 145, 190, 0.85);



